@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay.ttf");
}

#app {
  height: 100vh;
  overflow-x: hidden;
}

img {
  width: 100%;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.text-hidden {
  color: #bdc3f9;
}

input.ant-input.root-placeholder::placeholder {
  color: #808191;
}
.ant-picker-input > input::placeholder {
  color: #808191;
}

.text-tittle {
  color: #858bac;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
